<h1>コミュニティを作成</h1>
<%= form_for @community do |f| %>
  <div class="field">
    <%= f.label :eventname %>
    <%= f.text_field :eventname, :size => 100 %>
  </div>
  <%= f.submit "作成する" %>
<% end %>
<%= link_to "マイページに戻る", users_path %>